Repository cloud-bulldozer/benchmark-wrapper, pull requests merged in 2021-03, with the labels that each got.

#255 Set the desired upgrade version dynamically
  snafu/upgrade_openshift_wrapper/trigger_upgrade.py
  snafu/upgrade_openshift_wrapper/upgrade_openshift_wrapper.py
Labels: ok to test

#256 Fixing Scale Kubernetes Client Configuration
  snafu/scale_openshift_wrapper/trigger_scale.py
Labels: P1

#213 flent-workload
  README.md
  ci/common.sh
  setup.cfg
  snafu/flent_wrapper/Dockerfile
  snafu/flent_wrapper/__init__.py
  snafu/flent_wrapper/ci_test.sh
  snafu/flent_wrapper/flent_wrapper.py
  snafu/flent_wrapper/trigger_flent.py
  snafu/utils/wrapper_factory.py
Labels: ok to test

#254 Adding log generator script and container file
  README.md
  setup.cfg
  snafu/log_generator_wrapper/Dockerfile
  snafu/log_generator_wrapper/ci_test.sh
  snafu/log_generator_wrapper/log_generator_wrapper.py
  snafu/log_generator_wrapper/trigger_log_generator.py
  snafu/scale_openshift_wrapper/trigger_scale.py
  snafu/trex_wrapper/trigger_trex.py
  snafu/utils/wrapper_factory.py
Labels: enhancement, ok to test
